------------------------------------------------
            Welcome to the Jungle
------------------------------------------------


------------------------------------------------
              Linux Information
------------------------------------------------
IP's: "{{ ansible_all_ipv4_addresses }}
Linux Distribution: "{{ ansible_distribution_file_variety }}"
Linux Distribution Major Version: "{{ ansible_distribution_major_version }}"
Linux Distribution Release: "{{ ansible_distribution_release }}""
Linux Distribution Version: "{{ ansible_distribution_version }}"
------------------------------------------------